canvas#canvas {
    width: 100%;
    z-index: 1;
    background: transparent;
}

.d-none {
    display: none;
}

.back-main {
    background-color: #fafafa;
}

.main-paper {
    width: 100%;
    border: 1px dashed #ccc;
    height: 700px;
    background-color: white;
    border-radius: 5px;
}

.sidenav-main {
    height: 100vh;
    padding: 10px;
}

.tab-main {
    height: 100%!important;
    background-color: #fafafa;
}