<div class="container-fluid back-main">
    <div class="row">
        <div class="col-lg-2">
            <mat-sidenav-container class="sidenav-main">
                <mat-sidenav>Start</mat-sidenav>
                <mat-sidenav-content>
                    <button mat-raised-button color="primary">Primary</button>
                    <a #downloadLink>Test</a>
                    <img id="imageSrc" #imgSource src="../../assets/images/tb_1.svg">
                </mat-sidenav-content>
            </mat-sidenav-container>
        </div>
        <div class="col-lg-7">
            <div class="main-paper">
                <div style="position : relative">
                    <canvas class="roiCanvas" id="canvas" #roiCanvas></canvas>
                </div>
                <div>
                    <button (click)="clear()">Clear</button>
                    <button (click)="undo()">Undo</button>
                </div>

            </div>
        </div>
        <div class="col-lg-3">
            <mat-tab-group class="tab-main" mat-stretch-tabs="false" mat-align-tabs="start">
                <mat-tab label="First">Content 1</mat-tab>
                <mat-tab label="Second">Content 2</mat-tab>
                <mat-tab label="Third">Content 3</mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>